<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yatti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Administracion.control_material_admon"
            android:parentActivityName=".Menu.menu_administracion"/>
        <activity android:name=".Administracion.promociones_admon"
            android:parentActivityName=".Menu.menu_administracion"/>
        <activity android:name=".Administracion.alta_clientes_admon"
            android:parentActivityName=".Menu.menu_administracion"/>
        <activity android:name=".Administracion.alta_personal_admon"
            android:parentActivityName=".Menu.menu_administracion" />
        <activity android:name=".Administracion.control_personal_clientes_admon"
            android:parentActivityName=".Menu.menu_administracion"/>
        <activity android:name=".Administracion.control_vendedor_geoposicion_admon"
            android:parentActivityName=".Menu.menu_administracion"/>
        <activity android:name=".Administracion.control_entrada_salida_admon"
            android:parentActivityName=".Menu.menu_administracion"/>
        <activity android:name=".Administracion.control_fabricacion_admon"
            android:parentActivityName=".Menu.menu_administracion"/>
        <activity android:name=".Administracion.corte_dia_admon"
            android:parentActivityName=".Menu.menu_administracion"/>
        <activity android:name=".Administracion.inventario_admon"
            android:parentActivityName=".Menu.menu_administracion"/>
        <activity android:name=".Administracion.mantenimiento_admon"
            android:parentActivityName=".Menu.menu_administracion"/>



        <activity android:name=".Clientes.quejas_sugerencias_cliente"
            android:parentActivityName=".Menu.menu_cliente"/>
        <activity android:name=".Clientes.programar_servicio_cliente"
            android:parentActivityName=".Menu.menu_cliente"/>
        <activity android:name=".Clientes.solicitar_servicio_cliente"
            android:parentActivityName=".Menu.menu_cliente"/>



        <activity android:name=".Fabricacion.control_botellones_fabrica"
            android:parentActivityName=".Menu.menu_fabrica"/>
        <activity android:name=".Fabricacion.control_medicion_fabrica"
            android:parentActivityName=".Menu.menu_fabrica"/>
        <activity android:name=".Fabricacion.retrolavado_regeneracion_fabrica"
            android:parentActivityName=".Menu.menu_fabrica"/>


        <activity android:name=".Ventas.censo_venta"
            android:parentActivityName=".Menu.menu_ventas"/>
        <activity android:name=".Ventas.control_fabricacion_venta"
            android:parentActivityName=".Menu.menu_ventas"/>
        <activity android:name=".Ventas.corte_dia_venta"
            android:parentActivityName=".Menu.menu_ventas"/>
        <activity android:name=".Ventas.entrada_salida_venta"
            android:parentActivityName=".Menu.menu_ventas"/>
        <activity android:name=".Ventas.venta_clientes_venta"
            android:parentActivityName=".Menu.menu_ventas"/>




       <activity android:name=".splash">
           android:name=".splash"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
       </activity>



        <activity
            android:name=".Menu.menu_fabrica"
            android:label="@string/title_activity_menu_fabrica"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu.menu_ventas"
            android:label="@string/title_activity_menu_ventas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu.menu_administracion"
            android:label="@string/title_activity_menu_administracion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu.menu_cliente"
            android:label="@string/title_activity_menu_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity"/>

    </application>

</manifest>